# Dependencies
node_modules/

# Build output
dist/

# Astro environmental variables / logs
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Deployment and credentials
unzip.php
dist.zip
